<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.1.2.30" targetFramework="net472" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="Fizzler" version="1.2.1" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.4.9" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NLog" version="4.7.12" targetFramework="net472" />
  <package id="SharpLogger" version="1.4.12.111" targetFramework="net472" />
  <package id="SharpWrap2534" version="2.13.13.127" targetFramework="net472" />
  <package id="Svg" version="3.3.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>